* {
  box-sizing: border-box;
}

::selection {
  background: #ffff00;
}

body{
  font-family: sans-serif;
  margin: 0 auto;
  max-width: 650px;
  padding: 1rem;
  line-height: 1.2;
  overflow-x: hidden;
  word-break: break-word;
  overflow-wrap: break-word;
}

a:link {
  color: #0000ff;
}

a:hover {
  color: #0000ff;
}

a:visited {
  color: #0000ff;
}

a:active {
  color: #ff0000;
  outline: 1px solid #ff0000;
}

a[href*="//"]::after {
  font-size: 1rem;
  font-family: monospace;
  /* north east arrow */
  content: "\2197";
}

header {
  background: #eee;
  border-bottom: 2px solid #c0c0c0;
  padding: 0.8rem;

  margin: -1rem calc(50% - 50vw) 1rem;

  padding-left: calc(50vw - 50%);
  padding-right: calc(50vw - 50%);
}

img {
  max-width: 100%;
}

blockquote {
  padding: 0 0.8rem;
  border-left: 4px solid #c0c0c0;
}

pre {
  overflow:auto;
  padding: 0.4rem 0.8rem;
}

code,
pre,
kbd,
samp {
  font-size: 105%;
  background: #eee;
  border: 1px solid #c0c0c0;
  border-radius: 4px;
}

pre code {
  /* When <code> is in a <pre>, reset it's formatting to blend in */
  background: inherit;
  color: inherit;
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 96%;
}

code pre {
  /* When <pre> is in a <code>, reset it's formatting to blend in */
  display: inline;
  background: inherit;
  color: inherit;
  border: 0;
  padding: 0;
  margin: 0;
}